.hero_text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    gap: 1rem;
    font-family: $font-secondary;

    h1 {
        font-size: 3.5rem;
        color: $hero-1st-txt-color;
    }

    .desc {
        color: $hero-2nd-txt-color;
        font-size: 1.2rem;
    }

    .btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.7rem;
    }

    .btn {
        padding: 7px 14px;
        border: none;
        border-radius: 20px;
        font-size: .9rem;
        font-family: $font-secondary;
        cursor: pointer;
    }

    .explore {
        background-color: $hero-btn-color;
        color: $hero-1st-txt-color;
        transition: color, background-color 250ms ease-in-out;

        &:hover {
            color: $rec-header-secondary;
            background-color: $hero-1st-txt-color;
        }
    }

    .about {
        background-color: transparent;
        border: 1px solid $hero-2nd-txt-color;
        color: $hero-1st-txt-color;
        padding-inline: 15px;
        transition: border, background-color 250ms ease-in-out;

        &:hover {
            border: 1px solid $hero-btn-color;
            background-color: $hero-btn-color;
        }
    }

    .community {
        bottom: -8rem;
        left: 0;
        position: absolute;
        display: flex;

        .pic {
            margin-top: .7rem;
            width: 50px;
            height: 50px;
            position: absolute;
        }

        .first {
            background: url(../Imges/icon.png);
            background-size: contain;
        }

        .second {
            left: 25px;
            background: url(../Imges/icon.png);
            background-size: contain;

        }

        .third {
            left: 50px;
            background: url(../Imges/icon.png);
            background-size: contain;

        }

        .community_desc {
            text-align: start;
            margin-left: 7rem;

            h3 {
                font-size: 1.5rem;
                color: $hero-1st-txt-color;
            }

            p {
                font-size: 1rem;
                color: $hero-2nd-txt-color;
            }
        }
    }

    @include media('>tablet', '<=1150px') {
        width: 90%;
        margin-inline: auto;

        .community{
            bottom: -7rem;
        }
        h1 {
            font-size: 3.3rem;
        }

        .desc {
            font-size: 1.6rem;
        }

        .explore,
        .about {
            font-size: 1rem;
        }

    }

    @include media('>1151px') {
        width: 80%;
        margin-inline: auto;

        .community{
            bottom: -7rem;
        }
        h1 {
            font-size: 4rem;
        }

        .desc {
            font-size: 1.8rem;
        }

        .explore,
        .about {
            font-size: 1.1rem;
        }
    }

    @include media('>=phone', '<=tablet') {
        width: 95%;

        h1 {
            font-size: 2.5rem;
        }

        .desc {
            font-size: 1.3rem;
        }

        .about,
        .explore {
            font-size: .9rem;
        }

        .community {
            bottom: -5.5rem;

            .community_desc {
                h3 {
                    font-size: 1.3rem;
                }

                p {
                    font-size: .9rem;
                }
            }
        }
    }

    @include media('<phone') {
        width: 100%;

        h1 {
            font-size: 2rem;
        }

        .desc {
            font-size: 1rem;
        }

        .btn_container {
            gap: 1rem;
        }

        .explore,
        .about {
            font-size: .7rem;
        }

        .community {
            bottom: -7rem;

            .pic {
                width: 40px;
                height: 40px;
            }

            .community_desc {

                h3 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: .9rem;
                }
            }
        }
    }
}