.hero_text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    gap: 1.5rem;
    font-family: $font-secondary;

    h1 {
        font-size: 3.5rem;
        color: $hero-1st-txt-color;
    }

    .desc {
        color: $hero-2nd-txt-color;
        font-size: 1.2rem;
    }

    .btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.7rem;
    }

    .btn {
        padding: 7px 14px;
        border: none;
        border-radius: 20px;
        font-size: .9rem;
        font-family: $font-secondary;
        cursor: pointer;
    }

    .explore {
        background-color: $hero-btn-color;
        color: $hero-1st-txt-color;
        transition: color, background-color 250ms ease-in-out;

        &:hover {
            color: $rec-header-secondary;
            background-color: $hero-1st-txt-color;
        }
    }

    .about {
        background-color: transparent;
        border: 1px solid $hero-2nd-txt-color;
        color: $hero-1st-txt-color;
        padding-inline: 15px;
        transition: border, background-color 250ms ease-in-out;

        &:hover {
            border: 1px solid $hero-btn-color;
            background-color: $hero-btn-color;
        }
    }

    .community {
        // bottom: -8rem;
        // left: 0;
        margin-top: 3vh;
        top: 0;
        position: relative;
        display: flex;

        .pic {
            margin-top: .7rem;
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 50%;
            border: 2px solid $hero-2nd-txt-color;
        }

        .first {
            background: url("https://scontent.fmnl33-2.fna.fbcdn.net/v/t39.30808-6/340241818_725164109393436_8853687772044499265_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGNDoQdhtUsK8AOKG4EagkMoyKS8iQztvOjIpLyJDO28xoRmgSgKd8adQvgudca4wZ6ZKS9VkL6WbE4sjACq_bb&_nc_ohc=zljFUk5Y7wcAX9TzZE1&_nc_ht=scontent.fmnl33-2.fna&oh=00_AfDwZKnLD0ABPOEo-ZbyxSknfExtDcOUItEj7p2729QR1w&oe=645E6483");
            background-size: contain;
        }

        .second {
            left: 25px;
            background: url("https://scontent.fmnl33-2.fna.fbcdn.net/v/t39.30808-6/306122395_5325503727539635_4873087090570155813_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGPYtzW3fSHpiMA9O4Np0Dlh6xEX6b180WHrERfpvXzRWineHFDnIpOxAqAn1IOl1Sqqov-slAF5E4cAoFuou1L&_nc_ohc=6y5-fk61t8oAX9F_wwF&_nc_oc=AQlONl-AK2Pyx_ANm9NUa_8wa37P_wsJ8LQESf4pZ2EiRutbnO7mE4ixC5BMpSP3dEo&_nc_ht=scontent.fmnl33-2.fna&oh=00_AfCb1GPRQdKCDWb_fQrFVd-RKyhTWKSSD9RNSOJ4B_Om_Q&oe=645EB120");
            background-size: contain;

        }

        .third {
            left: 50px;
            background: url("https://scontent.fmnl33-4.fna.fbcdn.net/v/t1.6435-9/92557163_827927347701586_4280408787090669568_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFa_vaQNjn1vXjtSMum2vAWrHXpIZgS11esdekhmBLXV5MFIJOkZhD1Y1qyDJ8-VcSste2hp9Z4TPWRpFIhuWUZ&_nc_ohc=nJmrAif4K0QAX8rCQ4A&_nc_ht=scontent.fmnl33-4.fna&oh=00_AfDOV_8VQUE843m_gCZZZM76nSe9oTOaceT7HLnjCvoipg&oe=6481DBBE");
            background-size: contain;

        }

        .community_desc {
            text-align: start;
            margin-left: 7rem;

            h3 {
                font-size: 1.5rem;
                color: $hero-1st-txt-color;
            }

            p {
                font-size: 1rem;
                color: $hero-2nd-txt-color;
            }
        }
    }

    @include media('>tablet', '<=1150px') {
        width: 90%;
        margin-inline: auto;

        .community{
            bottom: -7rem;
        }
        h1 {
            font-size: 3.3rem;
        }

        .desc {
            font-size: 1.6rem;
        }

        .explore,
        .about {
            font-size: 1rem;
        }

    }

    @include media('>1151px') {
        width: 80%;
        margin-inline: auto;

        .community{
            bottom: -7rem;
        }
        h1 {
            font-size: 4rem;
        }

        .desc {
            font-size: 1.8rem;
        }

        .explore,
        .about {
            font-size: 1.1rem;
        }
    }

    @include media('>=phone', '<=tablet') {
        width: 95%;

        h1 {
            font-size: 2.5rem;
        }

        .desc {
            font-size: 1.3rem;
        }

        .about,
        .explore {
            font-size: .9rem;
        }

        .community {
            bottom: -5.5rem;

            .community_desc {
                h3 {
                    font-size: 1.3rem;
                }

                p {
                    font-size: .9rem;
                }
            }
        }
    }

    @include media('<phone') {
        width: 100%;

        h1 {
            font-size: 2rem;
        }

        .desc {
            font-size: 1rem;
        }

        .btn_container {
            gap: 1rem;
        }

        .explore,
        .about {
            font-size: .7rem;
        }

        .community {
            bottom: -7rem;

            .pic {
                width: 40px;
                height: 40px;
            }

            .community_desc {

                h3 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: .9rem;
                }
            }
        }
    }
}