nav{
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .logo_toggle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h1{
            font-size: 1.8rem;
            color: $hero-1st-txt-color;
            font-family: $font-secondary;
        }
        
        div{
           background: url(../Imges/bars-solid.png) no-repeat;
           background-size: contain;
           height: 30px;
           width: 30px;
           z-index: 5;
           cursor: pointer;
           transition: background 200ms ease-in-out;
        }
        .show_toggle{
            background: url(../Imges/xmark-solid.png) no-repeat;
            background-size: contain;
        }
        // i{
        //     position: absolute;
        //     right: 5%;
        //     color: $hero-1st-txt-color;
        //     font-size: 1.3rem;
        //     cursor: pointer;

        // }
        // #ham{
        //     z-index: 2;
        // }
        // #xmark{
        //     z-index: 6;
        //     font-size: 1.5rem;
        //     color: $rec-header-secondary;
        //     display: none;
        // }
      
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        height: 0;
        transition: height 300ms ease-in-out;
        li{
            display: inline;
            padding-block: 1rem;
            border-bottom: 1px solid $hero-2nd-txt-color;
            width: 100%;
            text-align: center;
        }
        a{

            font-size: 1.1rem;
            font-family: $font-secondary;
            color: $hero-2nd-txt-color;
            transition: opacity 300ms ease-in-out;
            &:hover{
                opacity: .8;
            }
        }
    }

   .show_navbar{
    height: 12rem;
    } 
   
// ---- Media Query
@include media('>=phone','<tablet'){
    .logo_toggle{
        div{
            width: 1.4rem;
            height: 1.4rem;
        }
    }

}
//-----Small Phone
   @include media('>tablet'){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        .logo_toggle{
            h1{
                font-size: 2.5rem;
            }
            div{
                display: none;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: auto;
            gap: 2rem;
            li{
                padding: 0;
                border: none;
                display: block;
                width: auto;
            }
            a{
                color: $hero-2nd-txt-color;
            }
        }

   }
   @include media('<phone'){
        .logo_toggle{
            div{
                width: 1.3rem;
                height: 1.3rem;
            }
        }
   }


}

