@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



// body Color

$body-main-bg: #edfcf5;


// Hero Section Colors
$hero-1st-txt-color: #d3f8e5;
$hero-2nd-txt-color: #aceed0;
$hero-btn-color: #1aaf7e;


// Recommended Section Colors
$rec-header-color: #052921;
$rec-header-secondary: #0a4a39;
$rec-header-tertiary: #0b5a44;
$rec-btn-primary: #171616;

// Variable Fonts;
$font-primary: 'Libre Caslon Text', serif;
$font-secondary: 'Poppins', sans-serif;

// Font- weight
$primary-regular: 400;
$primary-bold: 700;
$secondary-xlight: 200;
$secondary-light: 300;
$secondary-regular: 500;
$secondary-semibold: 700;
$secondary-bold: 800;
