@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



// body Color

$body-main-bg: #F8F1F1;


// Hero Section Colors
$hero-1st-txt-color: #DFCDCD;
$hero-2nd-txt-color: #EADBDB;
$hero-btn-color: #2C4365;


// Recommended Section Colors
$rec-header-color: #291709;
$rec-header-secondary: #36312E;
$rec-header-tertiary: #21150C;
$rec-btn-primary: #171616;

// Variable Fonts;
$font-primary: 'Libre Caslon Text', serif;
$font-secondary: 'Poppins', sans-serif;

// Font- weight
$primary-regular: 400;
$primary-bold: 700;
$secondary-xlight: 200;
$secondary-light: 300;
$secondary-regular: 500;
$secondary-semibold: 700;
$secondary-bold: 800;
