@import "./component/Breakpoints";
@import "./component/Variables";
@import "./component/navbar";
@import "./component/hero";
@import "./component/recommend";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}

body {
    background-color: $body-main-bg;

    .hero_section {
        position: relative;
        background: url(../Imges/hero_background.png);
        background-size: cover;
        overflow: hidden;
        padding-bottom: 15vh;

    }

    .hero_container {
        width: 90%;
        margin-inline: auto;
        max-width: 1224px;
    }

    // .container {
    //     width: 90%;
    //     margin-inline: auto;
    //     max-width: 1224px;
    // }
}