@import "./component/Breakpoints";
@import "./component/Variables";
@import "./component/navbar";
@import "./component/hero";
@import "./component/recommend";
@import "./component/_about.scss";
@import "./component/books";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}
html{
    scroll-behavior: smooth;

}
body {
    background-color: $body-main-bg;
    .hero_section {
        background: url(../Imges/hero_background.png);
        background-size: cover;
        overflow: hidden;
        padding-bottom: 10vh;
        // height: auto;

    }

    .hero_container {
        width: 90%;
        margin-inline: auto;
        max-width: 1224px;
    }

    .container {
        width: 90%;
        margin-inline: auto;
        max-width: 1224px;
    }
}