/**
*
* Testing
*
**/
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
nav {
  padding-top: 1vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav .logo_toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo_toggle h1 {
  font-size: 1.8rem;
  color: #d3f8e5;
  font-family: "Poppins", sans-serif;
}
nav .logo_toggle div {
  background: url(../Imges/bars-solid.png) no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  z-index: 5;
  cursor: pointer;
  transition: background 200ms ease-in-out;
}
nav .logo_toggle .show_toggle {
  background: url(../Imges/xmark-solid.png) no-repeat;
  background-size: contain;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 0;
  transition: height 300ms ease-in-out;
}
nav ul li {
  display: inline;
  padding-block: 1rem;
  border-bottom: 1px solid #aceed0;
  width: 100%;
  text-align: center;
}
nav ul a {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #aceed0;
  transition: opacity 300ms ease-in-out;
}
nav ul a:hover {
  opacity: 0.8;
}
nav .show_navbar {
  height: 12rem;
}
@media (min-width: 360px) and (max-width: 767px) {
  nav .logo_toggle div {
    width: 1.4rem;
    height: 1.4rem;
  }
}
@media (min-width: 769px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav .logo_toggle h1 {
    font-size: 2.5rem;
  }
  nav .logo_toggle div {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    gap: 2rem;
  }
  nav ul li {
    padding: 0;
    border: none;
    display: block;
    width: auto;
  }
  nav ul a {
    color: #aceed0;
  }
}
@media (max-width: 359px) {
  nav .logo_toggle div {
    width: 1.3rem;
    height: 1.3rem;
  }
}

.hero_text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}
.hero_text h1 {
  font-size: 3.5rem;
  color: #d3f8e5;
}
.hero_text .desc {
  color: #aceed0;
  font-size: 1.2rem;
}
.hero_text .btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
.hero_text .btn {
  padding: 7px 14px;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.hero_text .explore {
  background-color: #1aaf7e;
  color: #d3f8e5;
  transition: color, background-color 200ms ease-in-out;
}
.hero_text .explore:hover {
  color: #1aaf7e;
  background-color: #d3f8e5;
}
.hero_text .about {
  background-color: transparent;
  border: 1px solid #aceed0;
  color: #d3f8e5;
  padding-inline: 15px;
  transition: border, background-color 200ms ease-in-out;
}
.hero_text .about:hover {
  border: 1px solid #1aaf7e;
  background-color: #1aaf7e;
}
.hero_text .community {
  bottom: -8rem;
  left: 0;
  position: absolute;
  display: flex;
}
.hero_text .community .pic {
  margin-top: 0.7rem;
  width: 50px;
  height: 50px;
  position: absolute;
}
.hero_text .community .first {
  background: url(../Imges/icon.png);
  background-size: contain;
}
.hero_text .community .second {
  left: 25px;
  background: url(../Imges/icon.png);
  background-size: contain;
}
.hero_text .community .third {
  left: 50px;
  background: url(../Imges/icon.png);
  background-size: contain;
}
.hero_text .community .community_desc {
  text-align: start;
  margin-left: 7rem;
}
.hero_text .community .community_desc h3 {
  font-size: 1.5rem;
  color: #d3f8e5;
}
.hero_text .community .community_desc p {
  font-size: 1rem;
  color: #aceed0;
}
@media (min-width: 769px) and (max-width: 1150px) {
  .hero_text {
    width: 90%;
    margin-inline: auto;
  }
  .hero_text .community {
    bottom: -7rem;
  }
  .hero_text h1 {
    font-size: 3.3rem;
  }
  .hero_text .desc {
    font-size: 1.6rem;
  }
  .hero_text .explore,
  .hero_text .about {
    font-size: 1rem;
  }
}
@media (min-width: 1152px) {
  .hero_text {
    width: 80%;
    margin-inline: auto;
  }
  .hero_text .community {
    bottom: -7rem;
  }
  .hero_text h1 {
    font-size: 4rem;
  }
  .hero_text .desc {
    font-size: 1.8rem;
  }
  .hero_text .explore,
  .hero_text .about {
    font-size: 1.1rem;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .hero_text {
    width: 95%;
  }
  .hero_text h1 {
    font-size: 2.5rem;
  }
  .hero_text .desc {
    font-size: 1.3rem;
  }
  .hero_text .about,
  .hero_text .explore {
    font-size: 0.9rem;
  }
  .hero_text .community {
    bottom: -6rem;
  }
  .hero_text .community .community_desc h3 {
    font-size: 1.3rem;
  }
  .hero_text .community .community_desc p {
    font-size: 0.9rem;
  }
}
@media (max-width: 359px) {
  .hero_text {
    width: 100%;
  }
  .hero_text h1 {
    font-size: 2rem;
  }
  .hero_text .desc {
    font-size: 1rem;
  }
  .hero_text .btn_container {
    gap: 1rem;
  }
  .hero_text .explore,
  .hero_text .about {
    font-size: 0.7rem;
  }
  .hero_text .community {
    bottom: -7rem;
  }
  .hero_text .community .pic {
    width: 40px;
    height: 40px;
  }
  .hero_text .community .community_desc h3 {
    font-size: 1.4rem;
  }
  .hero_text .community .community_desc p {
    font-size: 0.9rem;
  }
}

.recommend {
  font-family: "Libre Caslon Text", serif;
}
.recommend h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-block: 2rem;
  color: #052921;
  text-align: center;
}
.recommend .card {
  border: 1px solid #171616;
  border-radius: 10px;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.recommend .card .book {
  width: 130px;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: 3px 2px 5px rgba(8, 8, 8, 0.329);
}
.recommend .card h2 {
  font-size: 1.3rem;
  color: #052921;
  padding-block: 0.5rem;
}
.recommend .card p {
  font-size: 0.9rem;
  text-align: st;
  color: #0b5a44;
}
.recommend .card .bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.recommend .card .bot img {
  width: 100px;
}
.recommend .card .bot button {
  border: 1px solid #171616;
  background: transparent;
  padding: 3px 18px;
  border-radius: 15px;
  font-size: 0.9rem;
  transition: background, color 300ms ease-in-out;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.recommend .card .bot button:hover {
  background-color: #171616;
  color: #edfcf5;
}
@media (min-width: 1366px) {
  .recommend .card h2 {
    font-size: 1.4rem;
  }
  .recommend .card p {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .recommend h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .recommend h1 {
    font-size: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  .recommend h1 {
    font-size: 2.3rem;
  }
}

#about {
  margin-top: 8vh;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
}
#about img {
  display: none;
}
#about .right_about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  text-align: center;
}
#about .right_about h1 {
  font-size: 2.5rem;
  color: #052921;
}
#about .right_about p {
  font-size: 1.1rem;
  color: #0b5a44;
}
#about .right_about .stats {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
#about .right_about .stats .about_stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
#about .right_about .stats .about_stats h3 {
  font-size: 2.3rem;
  font-weight: 800;
  color: #0a4a39;
}
#about .right_about .stats .about_stats p {
  font-size: 1rem;
  color: #0b5a44;
}
@media (min-width: 768px) and (max-width: 1365px) {
  #about .right_about h1 {
    font-size: 3.5rem;
  }
  #about .right_about p {
    font-size: 1.2rem;
  }
  #about .right_about .stats .about_stats h3 {
    font-size: 3rem;
  }
  #about .right_about .stats .about_stats p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1366px) {
  #about {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #about img {
    display: block;
  }
  #about .right_about {
    align-items: start;
  }
  #about .right_about h1 {
    text-align: start;
    font-size: 3.7rem;
  }
  #about .right_about p {
    text-align: start;
    font-size: 1.3rem;
  }
  #about .right_about .stats .about_stats h3 {
    font-size: 2.7rem;
  }
  #about .right_about .stats .about_stats p {
    font-size: 1.3rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #edfcf5;
}
body .hero_section {
  position: relative;
  background: url(../Imges/hero_background.png);
  background-size: cover;
  overflow: hidden;
  padding-bottom: 15vh;
}
body .hero_container {
  width: 90%;
  margin-inline: auto;
  max-width: 1224px;
}
body .container {
  width: 90%;
  margin-inline: auto;
  max-width: 1224px;
}